# Open-Source Travel Recommendations
#### The dataset used to power this program is not real and has been randomly generated.

In [1]:
import pandas as pd

In [2]:
#Import the Data from excel

Basic = pd.read_excel("database.xlsx", sheet_name = "Basics")
Transportation = pd.read_excel("database.xlsx", sheet_name = "Transportation") 
Stay = pd.read_excel("database.xlsx", sheet_name = "Stay") 
Activities = pd.read_excel("database.xlsx", sheet_name = "Activities") 

#convert int to strings
Basic.Rating = Basic.Rating.astype(int)

In [3]:
#functions to use
display(Basic.iloc[1])
display(Basic.iloc[0][3])

Basic["CityDestination"]

Rating                                  5
Cost                                 3257
Name                           Ankur Garg
Age                                    22
TravelerCount                           2
Departure             2023-06-20 00:00:00
Return                2023-06-26 00:00:00
TransportationMode                  Plane
CityOrigin                     Austin, TX
CityDestination                 Tulum, MX
Stay                                Hotel
Activities                            Yes
Name: 1, dtype: object

/var/folders/mh/zc17twsd1rq7dpq72f9ddhnh0000gn/T/ipykernel_42274/1054577627.py:3: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  display(Basic.iloc[0][3])

23

0       South Lake Tahoe, CA
1                  Tulum, MX
2                 London, UK
3           Phuket, Thailand
4            Bali, Indonesia
               ...
134     South Lake Tahoe, CA
135        Vancouver, Canada
136        Bangkok, Thailand
137         Barcelona, Spain
138    Auckland, New Zealand
Name: CityDestination, Length: 139, dtype: object

# User Input Functions
## What kind of travel are you looking for?
### Filters:
- Destination City
- Rating
- Origin City
- Cost
- Transportation Mode
- Type of Stay (Hotel/Airbnb)
- Season

In [4]:
#Asking for destination they want to go to

def destinationCity(df):
    req_city = input("What city do you want to go to?")
    
    #find if requested city, state, or country is in the database and build df
    req_city_result = df[df.CityDestination.str.contains(req_city)]
    
    #if no result, ask again until valid input
    while len(req_city_result) == 0:
        req_city = input("We dont currently have that destination. What city do you want to go to?")

        #building df if valid
        req_city_result = df[df.CityDestination.str.contains(req_city)]
    
    #creates list of indexes for the 
    req_city_index = req_city_result.index.tolist()

    return req_city, req_city_result, req_city_index

#call function later
# cityReq, cityResult, cityIndex = destinationCity(Basic) 
# cityResult

In [5]:
#which rating?

def rating(df):
    
    req_rating = int(input("Above which rating(1-5) would you like to see?"))
    
    while req_rating < 1 or req_rating > 5:
        req_rating = int(input("ERROR! Rating must be between 1 and 5. Above which rating(1-5) would you like to see?"))

    #df of results
    req_rating_result = df.loc[df['Rating'] >= req_rating]

    #List of indexes
    req_rating_index = req_rating_result.index.tolist()

    
    return req_rating, req_rating_result, req_rating_index

#call function
# ratingReq, ratingResult, ratingIndex = rating(Activities)
# print(ratingIndex)

In [6]:
# origin city

def originCity(df):
    req_origin = input("What city are you starting at?")
    
    #find if requested origin is in the database and build df
    req_origin_result = df[df.CityOrigin.str.contains(req_origin)]
    
    #if no result, ask again until valid input
    while len(req_origin_result) == 0:
        req_origin = input("We dont currently have any submissions for that origin. What city are you starting at?")

        #building df if valid
        req_origin_result = df[df.CityOrigin.str.contains(req_origin)]
    
    #creates list of indexes for the 
    req_origin_index = req_origin_result.index.tolist()

    return req_origin, req_origin_result, req_origin_index

#call function later
# originReq, originResult, originIndex = originCity(Basic) 
# originIndex

In [7]:
#cost range

def cost(df):
    req_cost = int(input("How much are you willing to spend?"))

    #df of results
    req_cost_result = df.loc[df['Cost'] <= req_cost]

    #List of indexes
    req_cost_index = req_cost_result.index.tolist()


    #filter cost by individual categories
    
    
    
    return req_cost, req_cost_result, req_cost_index

#call function
# costReq, costResult, costIndex = cost(Transportation)
# print(costResult)

In [8]:
# Transportaiton choices

def transportation(df):
    req_trans = input("Do you prefer (A)driving or (B)flying? Please respond with either (A) or (B).")

    #check for bad input
    while req_trans != "A" and req_trans != "B":
        req_trans = input("Invalid input, please select A or B.")

    # differentiate between car and plane
    if req_trans == "A":
        req_trans = "Car"

    elif req_trans == "B":
        req_trans = "Plane"

    else:
        req_trans = ""
        
    #build df of all flight or car options
    req_trans_result = df[df.TransportationMode.str.contains(req_trans)]

    #creates list of indexes for the 
    req_trans_index = req_trans_result.index.tolist()

    
    #filter by brand
    #car
    if req_trans == "Car":
        print("Would you like to filter by rental company brands or personal vehicle?")
        req_brand = input("Enter No if you dont care, Personal to see POV trips, or the brand you are looking for.")

        #exit if No
        if req_brand == "No":
            return req_trans, req_trans_result, req_trans_index
        else:
            #find if requested city, state, or country is in the database and build df
            req_brand_result = Transportation[Transportation.Car.str.contains(req_brand, na=False)]
            
            #if no result, ask again until valid input
            while len(req_brand_result) == 0:
                print("ERROR or brand is not currently available, please try again")
                req_brand = input("Enter No if you dont care, P to see personal vehicles, or the brand you are looking for.")
                if req_brand == "No":
                    return req_trans, req_trans_result, req_trans_index
                #building df if valid
                req_brand_result = Transportation[Transportation.Car.str.contains(req_brand, na=False)]

            #get index
            req_brand_index = req_brand_result.index.tolist()
            req_brand = req_trans + req_brand

            return req_brand, req_brand_result, req_brand_index
    
    #filter by airline
    if req_trans == "Plane":
        print("Would you like to filter by Airlines?")
        req_brand = input("Enter No if you dont care or the airline you are looking for.")

        #exit if No
        if req_brand == "No":
            return req_trans, req_trans_result, req_trans_index
        else:
            #find if requested city, state, or country is in the database and build df
            req_brand_result = Transportation[Transportation.Airline.str.contains(req_brand, na=False)]
            
            #if no result, ask again until valid input
            while len(req_brand_result) == 0:
                print("ERROR or airline is not currently available, please try again")
                req_brand = input("Enter No if you dont care or the airline you are looking for.")
                if req_brand == "No":
                    return req_trans, req_trans_result, req_trans_index
                #building df if valid
                req_brand_result = Transportation[Transportation.Airline.str.contains(req_brand, na=False)]

            #get index
            req_brand_index = req_brand_result.index.tolist()
            req_brand = req_trans + req_brand
            
            return req_brand, req_brand_result, req_brand_index
            

#call function later
# transReq, transResult, transIndex = transportation() 
# print(transReq)
# print(transIndex)
# print(transResult)

In [9]:
# What kind of stay?

def stay(df):
    req_stay = input("Do you prefer (A)Hotels or (B)Airbnbs?")

    #check for bad input
    while req_stay != "A" and req_stay != "B":
        req_stay = input("Invalid input, please select A or B.")

    # differentiate between car and plane
    if req_stay == "A":
        req_stay = "Hotel"

    elif req_stay == "B":
        req_stay = "Airbnb"

    else:
        req_stay = ""
        
    #build df of all flight or car options
    req_stay_result = df[df.Stay.str.contains(req_stay)]

    #creates list of indexes for the 
    req_stay_index = req_stay_result.index.tolist()

    
    #filter by brand
    #car
    if req_stay == "Hotel":
        print("Would you like to filter by hotel chains?")
        req_brand = input("Enter No if you dont care or the chain you are looking for.")

        #exit if No
        if req_brand == "No":
            return req_stay, req_stay_result, req_stay_index
        else:
            #find if requested city, state, or country is in the database and build df
            req_brand_result = Stay[Stay.Hotel.str.contains(req_brand, na=False)]
            
            #if no result, ask again until valid input
            while len(req_brand_result) == 0:
                print("ERROR or brand is not currently available, please try again")
                req_brand = input("Enter No if you dont care, P to see personal vehicles, or the brand you are looking for.")
                if req_brand == "No":
                    return req_stay, req_stay_result, req_stay_index
                #building df if valid
                req_brand_result = Stay[Stay.Hotel.str.contains(req_brand, na=False)]
            
            #get index
            req_brand_index = req_brand_result.index.tolist()
            req_brand = req_stay + req_brand

            return req_brand, req_brand_result, req_brand_index
    else:
        return req_stay, req_stay_result, req_stay_index


#call function later
# stayReq, stayResult, stayIndex = stay() 
# print(stayReq)
# print(stayIndex)
# print(stayResult)

In [10]:
# Seasons

def season(df):
    req_season = input("Which season are you most interested in: (A)Winter, (B)Spring, (C)Summer, (D)Fall?")

    #check for bad input
    while req_season != "A" and req_season != "B" and req_season != "C" and req_season != "D":
        req_season = input("Invalid input, please select A, B, C, or D.")

    # differentiate between seasons by month
    if req_season == "A":
        req_season = [12, 1, 2]
    elif req_season == "B":
        req_season = [3, 4, 5]
    elif req_season == "C":
        req_season = [6, 7, 8]
    else:
        req_season = [9, 10, 11]


    req_season_result = pd.DataFrame()

    #get results in one df
    for i in req_season:
        req_season_result_infor = df[df['Departure'].dt.month == i]
        frames = [req_season_result, req_season_result_infor]
        req_season_result = pd.concat(frames)

    #get index
    req_season_index = req_season_result.index.tolist()

    return req_season, req_season_result, req_season_index

#call function later
# seasonReq, seasonResult, seasonIndex = season() 
# print(seasonReq)
# print(seasonIndex)
# print(seasonResult)

## DRIVER CODE
each function returns:    
req_ - type: string    
req_ _result - type: df    
req_ _index - type: list    

available functions:    
destinationCity(df)    cityReq, cityResult, cityIndex = destinationCity()    
rating(df)    ratingReq, ratingResult, ratingIndex = rating()    
originCity(df)    originReq, originResult, originIndex = originCity(Basic)    
cost(df)    costReq, costResult, costIndex = cost(Transportation)    
transportation(df)    transReq, transResult, transIndex = transportation()    
stay(df)    stayReq, stayResult, stayIndex = stay()    
season(df)    seasonReq, seasonResult, seasonIndex = season()    

available dataframes:    
Basic    
Transportation    
Stay    
Activities

In [12]:
#Simple request for a single filtered list of itineraries based on chosen filters

outputList = []
transReq = ""
stayReq = ""
print("Which filters would you like to use?")
driver_req = input("(A)Destination City, (B)Origin City, (C)Ratings, (D)Cost, (E)Mode of Transport, (F)Type of Stay, (G)Season")


if "A" in driver_req: # city destination
    cityReq, cityResult, cityIndex = destinationCity(Basic)
    outputList.append(cityIndex)
    
if "B" in driver_req: # origin city
    originReq, originResult, originIndex = originCity(Basic)
    outputList.append(originIndex)
    
if "C" in driver_req: # Ratings
    print("Which of these do you want to filter ratings for?")
    ratingQ = input("(A)Overall, (B)Transport, (C)Stay, (D)Activities")
    if "A" in ratingQ:
        print("Overall Rating")
        ratingReqOverall, ratingResultOverall, ratingIndexOverall = rating(Basic)
        outputList.append(ratingIndexOverall)
    if "B" in ratingQ:
        print("Transport Rating")
        ratingReqTransport, ratingResultTransport, ratingIndexTransport = rating(Transportation)
        outputList.append(ratingIndexTransport)
    if "C" in ratingQ:
        print("Stay Rating")
        ratingReqStay, ratingResultStay, ratingIndexStay = rating(Stay)
        outputList.append(ratingIndexStay)
    if "D" in ratingQ:
        print("Activities cost")
        costReqActivities, costResultActivities, costIndexActivities = cost(Activities)
        outputList.append(costIndexActivities)

if "D" in driver_req: # Cost
    print("Which of these do you want to filter Costs for?")
    costQ = input("(A)Overall, (B)Transport, (C)Stay, (D)Activities")
    if "A" in costQ:
        print("Overall Cost")
        costReqOverall, costResultOverall, costIndexOverall = cost(Basic)
        outputList.append(costIndexOverall)
    if "B" in costQ:
        print("Transport Cost")
        costReqTransport, costResultTransport, costIndexTransport = cost(Transportation)
        outputList.append(costIndexTransport)
    if "C" in costQ:
        print("Stay Cost")
        costReqStay, costResultStay, costIndexStay = cost(Stay)
        outputList.append(costIndexStay)
    if "D" in costQ:
        print("Activities Cost")
        costReqActivities, costResultActivities, costIndexActivities = cost(Activities)
        outputList.append(costIndexActivities)

if "E" in driver_req: # Mode of Transport
    transReq, transResult, transIndex = transportation(Basic)
    outputList.append(transIndex)

if "F" in driver_req: # Type of Stay
    stayReq, stayResult, stayIndex = stay(Basic)
    outputList.append(stayIndex)

if "G" in driver_req: # Seasons
    seasonReq, seasonResult, seasonIndex = season(Basic)
    outputList.append(seasonIndex)

#finds the common indexes from all the filters to create the final list
elements_in_all = list(set(outputList[0]).intersection(*outputList[1:]))

#extract info from each page of the excel corresponding with indexes above
basicFin = Basic.iloc[elements_in_all]
transFin = Transportation.iloc[elements_in_all]
stayFin = Stay.iloc[elements_in_all]
activitiesFin = Activities.iloc[elements_in_all]

#hide columns not in use based on filter
if transReq == "Plane":
    transFin = transFin.drop('Car', axis=1)
    transFin = transFin.drop('Distance', axis=1)
if transReq == "Car":
    transFin = transFin.drop('Airline', axis=1)
    transFin = transFin.drop('PlaneClass', axis=1)

if stayReq == "Hotel":
    stayFin = stayFin.drop('Airbnb', axis=1)
if stayReq == "Airbnb":
    stayFin = stayFin.drop('Hotel', axis=1)

#Final Output
print("Here are some sample itineraries from real people!!!")
display(basicFin)
display(transFin)
display(stayFin)
display(activitiesFin)
print("disclaimer: this is not real data, it was randomly generated to display concept")

Which filters would you like to use?

(A)Destination City, (B)Origin City, (C)Ratings, (D)Cost, (E)Mode of Transport, (F)Type of Stay, (G)Season CDF

Which of these do you want to filter ratings for?

(A)Overall, (B)Transport, (C)Stay, (D)Activities C

Stay Rating

Above which rating(1-5) would you like to see? 2

Which of these do you want to filter Costs for?

(A)Overall, (B)Transport, (C)Stay, (D)Activities A

Overall Cost

How much are you willing to spend? 1000
Do you prefer (A)Hotels or (B)Airbnbs? B

Here are some sample itineraries from real people!!!

,Rating,Cost,Name,Age,TravelerCount,Departure,Return,TransportationMode,CityOrigin,CityDestination,Stay,Activities
96,2,659,Emily Johnson,28,1,2022-09-01,2022-09-10,Plane,"SeaTac, WA","Tokyo, Japan",Airbnb,No
101,3,460,Ken Tanaka,42,3,2023-11-12,2023-11-20,Plane,"St. Paul, MN","Bangkok, Thailand",Airbnb,No
105,4,764,Robert Mueller,41,4,2024-10-10,2024-10-17,Plane,"Denver, CO","Amsterdam, Netherlands",Airbnb,No
83,1,128,James Kim,41,4,2025-04-15,2025-04-22,Car,"Las Vegas, NV","Seattle, WA",Airbnb,No
116,1,732,Alex Ng,33,4,2022-09-10,2022-09-15,Plane,"Denver, CO","Rome, Italy",Airbnb,No
85,2,826,Sarah Lee,28,4,2021-07-01,2021-07-10,Plane,"Newark, NJ","Tokyo, Japan",Airbnb,No
88,4,943,Emily Davis,31,2,2021-10-15,2021-10-20,Car,"Newark, NJ","New York City, CA",Airbnb,No
89,1,710,James Wilson,29,4,2021-11-20,2021-11-30,Plane,"Las Vegas, NV","London, UK",Airbnb,No
91,3,591,Liam Nguyen,26,2,2022-02-14,2022-02-20,Plane,"Orlando, FL","Bangkok, Thailand",Airbnb,No
92,3,621,Giulia Rossi,30,4,2022-03-10,2022-03-20,Plane,"SeaTac, WA","Rome, Italy",Airbnb,No
94,1,994,Kim Min-ji,27,2,2022-05-01,2022-05-10,Plane,"Dallas-Fort Worth, TX","Seoul, Korea",Airbnb,No

     Rating   Cost              Car Distance    Airline PlaneClass
96        1  200.0              NaN      NaN     Spirit      First
101       2  100.0              NaN      NaN    Skywest   Business
105       2  150.0              NaN      NaN   Jet Blue   Business
83        1    0.0         Personal      821        NaN        NaN
116       2  500.0              NaN      NaN     Spirit      First
85        1  300.0              NaN      NaN   Jet Blue    Economy
88        4  200.0  Rental/National       10        NaN        NaN
89        2  400.0              NaN      NaN     Spirit      First
91        1  100.0              NaN      NaN  American       First
92        2  350.0              NaN      NaN   Jet Blue      First
94        2  150.0              NaN      NaN   Frontier    Economy

     Rating  Cost     Airbnb
96        2   400  Airbnb 18
101       5   300  Airbnb 23
105       4   600  Airbnb 27
83        5   100   Airbnb 5
116       4   200  Airbnb 38
85        3   500   Airbnb 7
88        2   700  Airbnb 10
89        3   300  Airbnb 11
91        4   400  Airbnb 13
92        2   200  Airbnb 14
94        2   800  Airbnb 16

     Rating                                     Activity  Cost
96        5  Taking Strolls in Picturesque Natural Parks    59
101       3              Going on Cultural Orchard Tours    60
105       3                   Visiting Pumpkin Festivals    14
83        3                Hiking in Mountainous Regions    28
116       1  Taking Strolls in Picturesque Natural Parks    32
85        4           Trying Local Barbecue and Grilling    26
88        1              Going on Cultural Orchard Tours    43
89        1                   Visiting Pumpkin Festivals    10
91        1                                  Ice skating    91
92        1                 Exploring Historical Gardens    71
94        5        Participating in Local Outdoor Events    44

disclaimer: this is not real data, it was randomly generated to display concept